/* Global styles */
body {
    background-image: url('volunteers.png'); /* URL to your image */
    background-size:cover; /* Cover the entire background */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100vh; /* Set height to 100% of viewport height */
    display: flex; /* Use flexbox for centering content */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.container {
    text-align: center;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Add any other global styles here */
